.more-container {
    position: absolute;
    top: 7px;
    right: 2px;
}

.more-btn {
    border: none;
    padding: 5px;
    cursor: pointer;
}

.more-btn:hover {
    background-color: var(--bg-surface-deep);
    border-radius: 50%;
}

.menu {
    position: absolute;
    right: 25px;
    top: 20px;
    background: var(--bg-surface);
    border: 1px solid var(--border-subtle);
    border-radius: 8px;
    width: 150px;
}

.menu.show {
    animation: appear 0.25s ease forwards;
    pointer-events: auto;
}

.menu.hide {
    animation: disappear 0.25s ease forwards;
    pointer-events: none;
}

@keyframes appear {
    from {
        transform: translateX(10px);
        opacity: 0;
    }

    to {
        transform: translate(0px);
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        transform: translateX(0px);
        opacity: 1;
    }

    to {
        transform: translate(10px);
        opacity: 0;
    }
}

.menu-item {
    width: calc(100% - 20px);
    padding: 10px;
    background: transparent;
    color: var(--text-main);
    border: none;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    margin: 0;
}

.menu-item:hover {
    background: var(--bg-surface-deep);
}

.menu-item.delete {
    color: var(--error);
}