.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    background: #18181b;
    border: 1px solid #3f3f46;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
    color: white;
}

.popup-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cancel-btn,
.delete-btn,
.save-btn {
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

.cancel-btn {
    background: #3f3f46;
    color: white;
}

.delete-btn {
    background: #ef4444;
    color: white;
}

.save-btn {
    background: #3f3f46;
    color: white;
}

.title-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 6px;
    background: #27272a;
    border: 1px solid #3f3f46;
    color: white;
}