# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
Desktop.ini

# Linux
*~

# Common
*.log
*.tmp
*.swp
*.swo
*.bak

# IntelliJ / JetBrains
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Eclipse
.project
.classpath
.settings/
.springBeans


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

.mvn/timing.properties
!.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.jar
*.war
*.ear


# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Virtual envs
venv/
env/
.venv/
.env/

# Packaging
build/
dist/
*.egg-info/

# Flask runtime
instance/
*.pid

# Python tooling
.pytest_cache/
.mypy_cache/
.cache/
coverage/
htmlcov/


# Node modules
node_modules/

# Angular build outputs
dist/
dist-browser/
dist-server/

# npm / yarn / pnpm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular caching
.angular/
.angular/cache/
.angular/cache/

# Compiled TypeScript
*.js
*.js.map

# Environment files
src/environments/environment*.ts

.env
*.env
*.env.*
.env.local
.env.development
.env.production


# Local databases
*.sqlite
*.db

# Temporary data
tmp/
temp/

# ChromaDB
chroma_db/
chroma_db
