:root {
  --bg-main: #141414;
  --bg-main-light: #3B3B3B;
  --bg-main-dark: #000000;

  --bg-surface: #1F1F1F;
  --bg-surface-light: #454545;
  --bg-surface-dark: #000000;
  --bg-surface-deep: #282828;

  --primary: #10A37F;
  --primary-light: #12BA91;
  --primary-dark: #0D8265;
  --primary-soft: #74AA9C;

  --text-main: #E6EEF0;
  --text-muted: #9AA6A8;
  --text-on-primary: #FFFFFF;

  --border-main: #2E2E2E;
  --border-subtle: rgba(255, 255, 255, 0.06);

  --success: #16A34A;
  --error: #E53E3E;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Inter', sans-serif;
  margin: 0;
}
