* {
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    margin: 0;
    padding: 0;
}

.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #09090b 0%, #18181b 100%);
    position: absolute;
    padding: 20px 0;
    left: 0px;
    top: 0px;
}

.title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.title h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 25.5px;
    line-height: 36px;
    color: #FFFFFF;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
    max-width: 360px;
    width: 100%;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 6px 20px #79797914;
    background: #18181b;
    border: 1px solid #27272a;
    backdrop-filter: blur(50px);
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field label {
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 11.9px;
    align-items: center;
    color: #CBD5E1;
}

.field input {
    width: calc(100% - 0rem);
    height: 40px;
    padding: .5rem;
    border: 1px solid #3f3f46;
    background: #27272a;
    color: #f4f4f5;
    border-radius: 12px;
}

.field input:focus {
    outline: none;
}

.error {
    color: #b00020;
    margin-bottom: 0.5rem;
}

button {
    width: 100%;
    height: 40px;
    padding: .75rem;
    border: none;
    background: linear-gradient(135deg, #27272a 0%, #3f3f46 100%);
    color: #fff;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}

.first-time {
    appearance: none;
    text-align: center;
    margin-top: 1rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11.9px;
    line-height: 20px;
    color: #94A3B8;
}

.first-time span {
    opacity: 0.6;
}

.dots {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.6;
    animation: pulse 1.4s infinite ease-in-out both;
}

.dot:nth-child(1) {
    animation-delay: -0.32s;
}

.dot:nth-child(2) {
    animation-delay: -0.16s;
}

@keyframes pulse {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}